h1{
  color: blue;
  text-shadow: white ;
}
body{
  background-color:#99ffff ;
}
h2{
  text-decoration: line-through;
}
h2{
  color: white;
}
p{
  color: pink;
}
a {
  color: yellow;
}
h1{
  background-color: black;

}
